# Dependencies
node_modules
.yarn
generated-clients

# Logs
npm-debug.log
*.log

# Git
.git
.gitignore

# Documentation
README.md
*.md
!package*.json

# Environment files
.env
.env.example

# IDE
.idea
.vscode
.DS_Store

# Tests
test
coverage
*.test.js
*.spec.js

# CI/CD
.github
